.product__wrap .more-button {
  font-family: 'Rubik', sans-serif;
  font-weight: 500; }

.mv {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }
  .mv__onslider {
    width: 100%;
    height: 23.5vw;
    position: relative;
    z-index: 1; }
    .mv__onslider img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%; }
  .mv__slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-end; }
  .mv__slick-first {
    width: 46.6875%;
    position: static; }
    .mv__slick-first .s-item {
      width: 100%; }
      .mv__slick-first .s-item img {
        width: 100%; }
    .mv__slick-first.slick-slider {
      margin: 0; }
    .mv__slick-first .slick-dots {
      bottom: 6.5rem;
      z-index: 10; }
      .mv__slick-first .slick-dots > li {
        width: 5rem;
        height: 1rem;
        background-color: #083388;
        transition: all .3s ease-out; }
        .mv__slick-first .slick-dots > li.slick-active {
          background-color: #ccc; }
        .mv__slick-first .slick-dots > li button {
          display: none; }
  .mv__slick-second {
    width: 100%;
    margin-left: 1rem;
    overflow: hidden; }
    .mv__slick-second .s-item img {
      width: 100%; }
  .mv__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 25; }
    .mv__content h2 .img-in-title {
      width: 28.5vw; }

.special {
  margin-top: 6.5rem; }
  .special__inner {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .special__inner li {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .special__inner li img {
        border-radius: 50%;
        position: relative;
        width: 100%; }
    .special__inner li:nth-of-type(1) {
      max-width: 35.625%;
      margin-top: -3rem; }
    .special__inner li:nth-of-type(2) {
      max-width: 30%;
      margin-top: 12rem; }
    .special__inner li:nth-of-type(3) {
      max-width: 23.84%;
      margin-top: 8rem; }
  .special .obj-decoration--circle {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: #c8f7ff; }

.about {
  width: 100%;
  margin-top: 13rem; }
  .about__inner {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .about__inner li {
      width: 100%;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.5);
      border-radius: 2.5rem;
      max-width: 48.2%; }
      .about__inner li img {
        width: 100%; }
      .about__inner li h6 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-weight: bold;
        font-size: 2rem;
        color: #333;
        padding: 4rem 0;
        text-align: center;
        background-color: #fff;
        letter-spacing: .2rem; }
    .about__inner li:nth-of-type(2) img {
      filter: contrast(1.15); }

.product {
  width: 100%;
  position: relative;
  padding-top: 10rem;
  margin-top: 9rem;
  overflow: hidden; }
  .product .obj-decoration--circle-big {
    position: absolute;
    top: 0;
    left: -30.5vw;
    right: 0;
    bottom: 0;
    width: 160vw;
    height: 130%;
    background-color: #3c97d0;
    border-top-left-radius: 160vw 80.5vw;
    border-top-right-radius: 160vw 80.5vw;
    z-index: -1; }
  .product .heading {
    color: #fff; }
  .product__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6rem; }
    .product__inner li {
      width: 100%;
      max-width: 34rem;
      display: flex;
      flex-direction: column;
      background-color: #f6f6f6;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.5); }
      .product__inner li img {
        width: 100%; }
  .product__wrap {
    width: 100%;
    max-width: 50rem;
    margin: 8rem auto;
    display: flex;
    flex-direction: column; }
    .product__wrap li {
      width: 100%;
      text-align: center; }
    .product__wrap .more-button {
      font-size: 1.6rem; }

.job {
  width: 100%;
  margin-top: 7rem; }
  .job .container {
    text-align: center; }
  .job .more-button {
    font-size: 2rem;
    font-weight: bold; }

/*# sourceMappingURL=main.css.map */
